<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-rss"></i> Tickers</h3>
    </div>
    <div class="panel-body">
        <div id="ticker-chart"></div>
    </div>
</div>


<script>
    $(function() {
        const drawChart = (result) => {
            if (result.code === 200) {
                $("#ticker-chart").shieldGrid({
                    dataSource: {
                        data: result.data
                    },
                    sorting: {
                        multiple: true
                    },
                    rowHover: true,
                    paging: false,
                    columns: [
                        { field: "symbol", width: "50px", title: "<small>Sym</small>" },
                        { field: "last", title: "Last" },
                        { field: "percent", title: "24H", format: "{0}%" },
                        { field: "volume", title: "Volume" },
                    ]
                });
            }
        }
        const refreshGird = (result) => {
            if (result.code === 200) {
                const grid = $("#ticker-chart").swidget();
                const initialOptions = grid.initialOptions;
                initialOptions.dataSource = {
                    data: result.data 
                };
                grid.refresh(initialOptions);
            }
        }
        const getData = (callback) => $.get("{% url "tickers:index" %}", callback)

        setInterval(getData, 1000 * 60, refreshGird)
        getData(drawChart)
    })
</script>
