<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
           <i class="fa fa-area-chart"><b> Price of Currency in Base Currency (currency/base currency)</b></i> 
           <!--{% block chartCurencieName %} {% endblock %}/{% block chartBaseName %}{% endblock %}</h3> -->
    </div>
    <div class="panel-body">
        <div id="shieldui-chart1"></div>
    </div>
</div>

<script>

    jQuery(function ($) {
        var performance = [12, 43, 34, 22, 12, 33, 4, 17, 22, 34, 54, 67],
            visits = [123, 323, 443, 32],
            traffic = [
                {
                    Source: "Direct", Amount: 323, Change: 53, Percent: 23, Target: 600
                },
                {
                    Source: "Refer", Amount: 345, Change: 34, Percent: 45, Target: 567
                },
                {
                    Source: "Social", Amount: 567, Change: 67, Percent: 23, Target: 456
                },
                {
                    Source: "Search", Amount: 234, Change: 23, Percent: 56, Target: 890
                },
                {
                    Source: "Internal", Amount: 111, Change: 78, Percent: 12, Target: 345
                }];

        $("#shieldui-chart1").shieldChart({
            theme: "dark",

            primaryHeader: {
                text: "Bitcoin in $"
            },
            exportOptions: {
                image: false,
                print: false
            },
            dataSeries: [{
                seriesType: "area",
                collectionAlias: "Time",
                data: performance
            }]
        });

        $("#shieldui-chart2").shieldChart({
            theme: "dark",
            primaryHeader: {
                text: "Traffic Per week"
            },
            exportOptions: {
                image: false,
                print: false
            },
            dataSeries: [{
                seriesType: "pie",
                collectionAlias: "traffic",
                data: visits
            }]
        });

    });
</script>
