<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-area-chart"></i>{% block chartCurencieName %} {% endblock %}/{% block chartBaseName %}{% endblock %}</h3>
    </div>
    <div class="panel-body">
        <div id="chart"></div>
    </div>
</div>
<script>
    jQuery(function ($) {
        window.updateChart = () => {
            getData(refreshGird)
        }

        const processData = (data) => data.map(d => ({ y: +d.bidprice, x: +d.timestamp }))

        const drawChart = (result) => {
            if (result.code === 200) {
              $("#chart").shieldChart({
                  theme: "dark",
                  primaryHeader: {
                      text: "Bitcoin in $"
                  },
                  exportOptions: {
                      image: false,
                      print: false
                  },
                  dataSeries: [{
                      seriesType: "area",
                      collectionAlias: "Time",
                      data: processData(result.data)
                  }]
              });
            }
        }

        const refreshGird = (result) => {
            if (result.code === 200) {
                const grid = $("#chart").swidget();
                const initialOptions = grid.initialOptions;
                initialOptions.dataSeries = [{
                    seriesType: "area",
                    collectionAlias: "Time",
                    data: processData(result.data)
                }];
                grid.refresh(initialOptions);
            }
        }

        const getData = (callback) => $.get("{% url "chart:index" %}", callback)

        getData(drawChart)
    });
</script>
