<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static "mysite/bootstrap/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "mysite/font-awesome/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "mysite/css/local.css"%}" />

    <script type="text/javascript" src="{% static "mysite/js/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "mysite/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />

    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
    <body>
        <!--Begin Wrapper-->
        <div id="wrapper">
            <!--Begin NavBar-->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">LOGO</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul id="active" class="nav navbar-nav side-nav">
                        <li class="selected"><a href="index.html"><i class="fa fa-bullseye"></i> Exchange</a></li>
                        <li><a href="portfolio.html"><i class="fa fa-tasks"></i> Funds</a></li>
                        <!--BEGIN Buy and SELL-->

                        <li>{% block buyAndSell %}{% endblock %}</li>
                        <!--End Buy and SELL-->
                        <li>

                        <!--Begin Tickers-->
                        {% block tickers %}
                        
                        {% endblock %}
                         <!--End Tickers-->
                        </li>
                    </ul>
                    
                    
                    <ul class="nav navbar-nav navbar-right navbar-user">
                        <li class="dropdown messages-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> My wallets <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Crypto-currencies</li>
                                <li class="">
                                   <a href="#">BTC</a>
                                </li>
                                <li>
                                    <a href="#">ETH</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Fiat currencies</li>
                                <li class="message-preview">
                                    <a href="#">USD</a>
                                </li>
                       
                            </ul>
                        </li>
                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Paul<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                                <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
    
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <form class="navbar-search">
                                <input type="text" placeholder="Search" class="form-control">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--End Nav-->
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <!--Begin TitleCurrencie-->	

                        {% block titleCurrencie %}
                       
                        {% endblock %}
                        <!--End Title Currencie-->
                        <!--Begin alert-->
                        {% block alert %}
                        
                        {% endblock %}
                        <!--End alert -->
                    </div>
                </div>
                <div class="row">
                    
                    
                   
                    
                    <div class="col-md-12">
                        <!--Begin Chart Prices-->
                        {% block chart %}
                        
                        {% endblock %}
                        <!--End Chart Prices-->
                    </div>    
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <!--Begin Chart Table Ordre Buy-->
                        {% block orderBuy %}
                        
                        {% endblock %}
                        <!--End Chart Price Buy-->
                    </div>
                    <div class="col-lg-4">
                        <!--Begin Chart Price Sell-->
                        {% block orderSell %}
                        
                        {% endblock %}
                        <!--End Chart Price Sell-->
                    </div>
                    <div class="col-lg-4">
                            <!--Begin Chart Price Sell-->
                            {% block orderTrade %}
                            
                            {% endblock %}
                            <!--End Chart Price Sell-->
                        </div>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
    </body>
    <script>
        $( document ).ready($("#alert_Base").load('{% url "alert:content" %}'));
        $( document ).ready($("#buyAndSell_Base").load('{% url "buyAndSell:content" %}'));
        $( document ).ready($("#Chart_Base").load('{% url "Chart:content" %}'));
        $( document ).ready($("#orderBuy_Base").load('{% url "orderBuy:content" %}'));
        $( document ).ready($("#orderSell_Base").load('{% url "orderSell:content" %}'));
        $( document ).ready($("#orderTrade_Base").load('{% url "orderTrade:content" %}'));
        $( document ).ready($("#tickers_Base").load('{% url "tickers:content" %}'));
        $( document ).ready($("#titleCurrencie_Base").load('{% url "titleCurrencie:content" %}'));
    </script>
    </html>
    