{% load static %}
<div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa fa-balance-scale"><b> Exchanges</b></i> 
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" style="display:none" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Select</a>
                        </li>
                        <li><a href="#">Exchange</a>
                        </li>
                        <li><a href="#">Margin</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Tools</li>
                        <li><a href="#">Calcul</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <form role="form" id = "form1" method="post">   
                <div class="row">
                        {% csrf_token %}
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label></label>
                            <input id="Limit" type="number" class="input-sm form-control" name ="Limit" placeholder="Limit">

                            <!--<p class="help-block">Example block-level help text here.</p-->
                        </div>	
                    </div>
                    <div class="col-xs-6" style ="border : 0px;">
                                    <label>
                                        <input id="isOCO" type="checkbox">
                                            <small>OCO</small>
                                    </label>
                                    <label>
                                        <input id="isPostOnly" type="checkbox">
                                            <small>Post only</small>
                                    </label>
                                
                                    <label>
                                        <input id="isHidden" type="checkbox">
                                            <small>Hidden</small>
                                    </label>	
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label><small>Price USD</small></label>
                            <input id="price" type="number" name="Price" class="input-sm form-control">
                            <!--<p class="help-block">Example block-level help text here.</p-->
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                                
                                    <label><small>Amount BTC</small></label>
                                    <input  id="amount" type="number" name="Amount" class=" input-sm form-control">
                                    <!--<p class="help-block">Example block-level help text here.</p-->
                        </div>	
                    </div>
                </div>
            </form>
        </div>
        <div class = "panel-footer">
            <div class="row">
                <div class="col-sm-6">
                     <button  form="form1" type="submit" class="btn-sm btn-default" id="ask" value="buy"><small>Exchange Buy</small></button>
                </div>
                <div class="col-sm-6">
                    <button  form="form1" type="submit" class="btn-sm btn-default" id="bid" value="sell"><small>Exchange Sell</small></button>
                </div>
            </div>
        </div>
    </div>
   
    
    <script type="text/javascript" src="{% static "buyAndSell/js/main.js" %}"></script>    