.navbar {
    margin-bottom: 0;
}

.nav-larger{

    height : 75px;
}

.row{margin-left: -15px;
    margin-right: -15px;}
        
.my-fluid-container {
    
      padding-left: 15px;
    
      padding-right: 15px;
    
      margin-left: auto;
    
      margin-right: auto;
    
    }